@inherits LayoutComponentBase

<div class="page">
    <header class="navbar-container">
        <Header />
    </header>

    <main>
        @Body
    </main>
    
    <footer>
        <Footer />
    </footer>

</div>

